TestWebServiceUsingCxf/WebContent/wsdl/productcatalogimpl_schema1.xsd

<xs:schema xmlns:tns="http://rohit.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rohit.com/" version="1.0">

  <xs:element name="getProductCategories" type="tns:getProductCategories"/>

  <xs:element name="getProductCategoriesResponse" type="tns:getProductCategoriesResponse"/>

  <xs:complexType name="getProductCategories">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getProductCategoriesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
